{% include "header.html" %}
<div class="container main-contents">
  <p class= "opening-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin. Amet facilisis magna etiam tempor orci eu. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Nisl rhoncus mattis rhoncus urna neque viverra. Nibh praesent tristique magna sit amet. Sodales neque sodales ut etiam sit amet nisl purus in. Elit eget gravida cum sociis natoque penatibus et magnis. Morbi leo urna molestie at elementum. Ultricies leo integer malesuada nunc vel risus commodo. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod. Nibh sed pulvinar proin gravida hendrerit lectus a. Lectus urna duis convallis convallis tellus.</p>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 boxes">
      <div class="dropdown ">
          <button class="btn btn-dark dropdown-toggle dropdown-menu-sm-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-filter"></i> <span>Filters</span>
          </button>
        <div class="dropdown-menu">
          <form class="px-4 py-3">


              <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Location</label>
                <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Peckham" name = "location">
              </div>

              <div class="mb-3">
              <div class="form-check">
                <label class="form-check-label" for="dropdownCheck" >
                  <i class="fa-solid fa-plug"></i> Has sockets
                </label>
                <input type="checkbox" class="form-check-input" id="dropdownCheck" name="sockets">
              </div>
              </div>

                <div class="mb-3">
                <div class="form-check">
                <label class="form-check-label" for="dropdownCheck1">
                  <i class="fa-solid fa-wifi"></i>  Has wifi
                </label>
                <input type="checkbox" class="form-check-input" id="dropdownCheck1" name="wifi">
              </div>
            </div>

                <div class="mb-3">
                <div class="form-check">
                <label class="form-check-label" for="dropdownCheck2">
                  <i class="fa-solid fa-phone"></i>  Can make calls
                </label>
                <input type="checkbox" class="form-check-input" id="dropdownCheck2" name="calls">
              </div>
            </div>

                <div class="mb-3">
                <div class="form-check">
                <label class="form-check-label" for="dropdownCheck3">
                  <i class="fa-solid fa-toilet"></i> Has toilet
                </label>
                <input type="checkbox" class="form-check-input" id="dropdownCheck3" name="toilet">

              </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>
        </div>
      </div>
      </div>

    <div class="col-lg-9 col-md-12 col-sm-12 boxes">
        {%for cafe in cafes["cafes"]: %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{cafe.img_url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{cafe.name}}</h5>
              <p class="card-text">Location: {{cafe.location}} | <a href="{{cafe.map_url}}">Map</a>  <br>
                <span>Seats: {{cafe.seats}}</span><br>
              <span class="card-text"><small class="text-muted">Coffee Price: <strong>{{cafe.coffee_price}}</strong></small></span></p>
            </div>
          </div>
        </div>
      </div>
        {%endfor%}
    </div>



    <!-- <div class="col-3 boxes">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.47339290322!2d-0.24167949207428194!3d51.52855824369068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sng!4v1649160078209!5m2!1sen!2sng" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> -->
  </div>
</div>

{% include "footer.html" %}
